:root{
    --tertiary-color:#5d5c61;
    --heading-font-family:'Dancing Script', cursive;
    --default-font-family: 'Roboto Slab', serif;
}
body{
    background: rgb(155, 152, 199);
}

h1, h2, h3{
    color: var(--tertiary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1{
    color: aliceblue!important;
    text-shadow: 3px 1px 0 var(--tertiary-color);
    font-size:96px;
    font-weight: bold;
    margin:0;
    padding-top: 100px;
}
h2{
    font-size:64px
  }
  h3{
      font-size: 50px;
  }
p{
    font-family: var(--default-font-family);
}
.navbar a{
    font-family: var(--heading-font-family);
}
img{
    max-width: 100%;
    width: 350px;
    display: block;
    margin: 0 auto;
}
.navbar-nav{
    font-size: 25px;
  }
.homepage-link{
    margin-top: 150px!important;
    font-size: 25px;
  }
.social-link a{
    color: aliceblue;
    text-decoration: none;
}
@media (max-width: 767px){
    img{
      display: none;
    }
}