:root{
    --branding-color:#89a4bb; 
    --secondary-color:linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    --tertiary-color:#5d5c61;
    --heading-font-family:'Dancing Script', cursive;
    --default-font-family: 'Roboto Slab', serif;
}

h1, h2,h3, h4, h5, h6 {
    color: var(--tertiary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  h1{
      color: #89a4bb!important;
      text-shadow: 3px 1px 0 var(--tertiary-color);
      font-size:96px;
      font-weight: bold;
      margin:0;
  }
  h2{
    font-size:64px
  }
  
  p {
    color: var(--tertiary-color);
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  img{
      width: 500px;
  }
  a {
    font-family: var(--heading-font-family);
    text-decoration: none;
  }
  footer{
    margin-left:20px;
  }

  .hero {
      background: var(--secondary-color);
      text-align: center;
      padding: 160px 20px;
  }
  .hero p {
      font-size: 36px;
      font-weight:bold;
      margin: 0;
      color: #272142;
  }
  .hero h2{
      font-family:var(--default-font-family);
      font-weight: normal;
      line-height: 2;
      font-size: 24px;
  }
  .btn-branding-outline:hover, .btn-branding:hover{
    background-color: #233d52;
    color: white;
  }
  .btn-branding{
      background: var(--branding-color);
      border: 0.5px solid;
      border-color: var(--tertiary-color);
      border-radius: 4px;
      color:white;
      font-size: 18px;
      line-height: 27px;
      padding: 15px 30px;
      margin-left: 35px;
  }
  .btn-branding-outline{
      background: var(--branding-color);
      border:1px solid var(--branding-color);
      border-radius: 4px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      line-height:27px;
      padding: 20px;
  }
  .project-description{
      padding: 30px 0;
  }
  .img-fluid{
      display: block;
      margin: 100px auto;
      max-width: 100%;
  }
  .link-linkedin{
    display: block;
    margin: 0 auto;
    color: white;
  }
  .link-sns{
    display:block;
    margin: 0 auto;
    font-size: large;
  }
  .email-link{
    text-align: center;
    font-family: var(--default-font-family)!important;
  }
  .link-sns{
    text-align: center;
    margin: 50px auto;
  }
  #about-me-btn{
    background: #233d52;
  }
  #about-me-btn:hover{
    background: var(--branding-color);
  }
  @media (max-width: 767px){
    img{
      display: none;
    }
    .project-description,
    .btn-branding-outline{
      text-align: center;
      display: block;
      margin: 20px auto;
    }
  }