:root{
    --branding-color:#6c64ff; 
    --secondary-color:#f9f7fe;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

h1, h2,h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  h1{
      font-size:96px;
      font-weight: bold;
      margin:0;
  }
  h2{
    font-size:64px
  }
  
  p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  img{
      width: 500px;
  }

  .hero {
      background: var(--secondary-color);
      text-align: center;
      padding: 160px 20px;
  }
  .hero p {
      font-size: 36px;
      font-weight:bold;
      margin: 0;
      color: #272142;
  }
  .hero h2{
      font-family:var(--default-font-family);
      font-weight: normal;
      line-height: 2;
      font-size: 24px;
  }
  .btn-branding{
      background: var(--branding-color);
      border-radius: 4px;
      color:white;
      font-size: 18px;
      line-height: 27px;
      padding: 12px 20px;
  }
  .btn-branding-outline{
      background: var(--branding-color);
      border:1px solid var(--branding-color);
      border-radius: 4px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      line-height:27px;
      padding: 20px;
  }
  .project-description{
      padding: 30px 0;
  }
  .img-fluid{
      display: block;
      margin: 100px auto;
      max-width: 100%;
  }
  @media (max-width: 767px){
    img{
      display: none;
    }
    .project-description,
    .btn-branding-outline{
      text-align: center;
      display: block;
      margin: 20px auto;
    }
  }